<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789018527030-n90qem7t8ke3n9e3da24l6ip6pou2ugj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789018527030-n90qem7t8ke3n9e3da24l6ip6pou2ugj</string>
	<key>API_KEY</key>
	<string>AIzaSyBCU8WCY8uySt6b8MI6ZeLghz1KOqmdfq4</string>
	<key>GCM_SENDER_ID</key>
	<string>789018527030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithkyo.Firesbasetore</string>
	<key>PROJECT_ID</key>
	<string>fir-storeapp-51331</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-storeapp-51331.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789018527030:ios:cb1016f06e4a0336c1df97</string>
</dict>
</plist>